<template>
  <div class="config-view">
    <div class="header">
      <div class="back" @click="goBack">
        <i class="el-icon-back"></i>
        <span>Go Back</span>
      </div>
      <h1>Validation Rules Config</h1>
      <div class="button">
        <el-button type="primary" @click="save">Save Config</el-button>
      </div>
    </div>
    <div class="content">
      <div class="input-field" v-for="item in config_data" :key="item.name">
        <h4>{{ item.name }}</h4>
        <div class="field-configs">
          <div class="config-item">
            <el-checkbox v-model="item.show">Display Field</el-checkbox>
          </div>
          <div class="config-item">
            <el-checkbox v-model="item.full_width">Display Full Width</el-checkbox>
          </div>
          <div class="config-item" v-for="rule in item.rules" :key="rule.rule_name">
            <el-checkbox v-if="rule.type === 'BOOLEAN'" v-model="rule.validate">{{ rule.rule_label }}</el-checkbox>
            <div v-else style="display: flex; align-items: center">
              <span style="margin-right: 10px; white-space: nowrap">{{ rule.rule_label }}</span>
              <el-input size="medium" placeholder="Type Rule Value" v-model.number="rule.validate"></el-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import { deepCopy } from "@/common/utils";

export default {
  name: "Config",
  mounted() {
    this.config_data = deepCopy(this.input_options)
  },
  data() {
    return {
      config_data: []
    }
  },
  computed: {
    ...mapState({
      input_options: state => state.input_options
    })
  },
  methods: {
    ...mapMutations([
       'setInputOptions'
    ]),
    goBack() {
      this.$router.push('/')
    },
    save() {
      this.setInputOptions(this.config_data)
      this.$router.push('/')
    }
  }
}
</script>

<style lang="scss" scoped>
  .config-view {
    padding: 1rem;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

    .header {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;

      .back {
        cursor: pointer;
        display: flex;
        align-items: center;
        flex: 1;

        span {
          margin-left: 5px;
        }

        &:hover {
          color: #409EFF !important;
        }
      }

      h1 {
        text-align: center;
        flex: 2;
        margin: 0;
        font-weight: 500;
        font-size: 1.5rem;
      }

      .button {
        flex: 1;
        display: flex;
        justify-content: flex-end;
      }
    }

    .content {
      display: flex;
      flex-direction: column;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      .input-field {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border-bottom: 1px solid #dadada;

        .h4 {
          margin: 0 0 1rem 0;
        }

        .field-configs {
          display: flex;
          align-items: center;

          .config-item {
            display: flex;
            align-items: center;
            min-width: 200px;
          }
        }
      }
    }
  }
</style>
