<template>
  <div class="home">
    <div class="header">
      <h1>Example of form validation based on configuration</h1>
      <el-button type="primary" plain @click="goToConfig">Change Config</el-button>
    </div>

    <form-component />
  </div>
</template>

<script>
import FormComponent from "@/components/FormComponent";

export default {
  name: 'Home',
  components: {
    FormComponent
  },
  methods: {
    goToConfig() {
      this.$router.push('config')
    }
  }
}
</script>

<style lang="scss" scoped>
  .home {
    min-height: 100vh;
    overflow-x: hidden;
    padding: 1rem;
    max-width: 60vw;
    margin: 0 auto;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 2rem 0;

      h1 {
        font-weight: 500;
        font-size: 1.5rem;
      }
    }
  }
</style>
