<template>
  <ValidationObserver ref="formRef">
    <form class="form">
      <template v-for="form_item in form_data">
        <div class="form-item" :style="setFieldStyle(form_item.full_width)"
             v-if="form_item.show" :key="form_item.name">
          <ValidationProvider :rules="setValidationRules(form_item.rules)" :name="form_item.name" v-slot="{ errors }">
            <el-input type="text" v-model="form_item.value"
                      autocomplete="off" auto-complete="off"
                      :placeholder="form_item.name" />
            <span class="error-message">{{ errors[0] }}</span>
          </ValidationProvider>
        </div>
      </template>

      <div class="buttons">
        <el-button type="danger" @click="reset">RESET</el-button>
        <el-button type="primary" @click="save">SAVE</el-button>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import { mapState } from 'vuex'
import { deepCopy } from "@/common/utils";

export default {
  name: "FormComponent",
  mounted() {
    this.form_data = deepCopy(this.input_options)
  },
  data() {
    return {
      form_data: []
    }
  },
  computed: {
    ...mapState({
      input_options: state => state.input_options
    })
  },
  methods: {
    setValidationRules(all_rules) {
      let validation_object = {}

      all_rules.forEach(rule => {
        if (rule.type === 'VALUE' && !rule.validate) {
          return
        }
        validation_object[rule.rule_name] = rule.validate
      })

      return validation_object
    },
    setFieldStyle(full_width) {
      if (full_width) {
        return {
          gridColumn: '1 / -1'
        }
      } else {
        return {
          gridColumn: 'unset'
        }
      }
    },
    save() {
      this.$refs.formRef.validate().then(result => {
        if (result) {
          this.$notify.success({
            title: 'Success',
            message: 'Form Successfully Validated'
          })
        } else {
          this.$notify.error({
            title: 'Error',
            message: 'Please make sure all fields are valid'
          })
        }
      })
    },
    reset() {
      this.form_data.forEach(item => {
        item.value = null
      })

      this.$refs.formRef.reset()
    }
  }
}
</script>

<style lang="scss" scoped>
  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    max-width: 100%;

    .form-item {
      position: relative;

      .error-message {
        font-size: 12px;
        color: red;
        position: absolute;
        bottom: -18px;
        left: 0;
      }
    }

    .buttons {
      grid-column: 1 / -1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
</style>
